@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');


.home-content {
  background: #d9dbd8;
}

.hero-cap{
  font-family: 'Protest Strike', sans-serif;
  font-size: 50px;

}


.gallery{
  border: 10px ridge;
  border-radius: 20px;
}


.gallery-text{
font-family: 'Rubik Scribble', system-ui;
}

.sign-in{
  border: 2px solid #34a853;
  border-radius: 20px;
}

.button-text{
  font-family: 'Protest Strike', sans-serif;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.bg-red{
  background-color: red !important;
}

.toggle-button{
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #e35907;
  font-weight: bold;
  border: 4px dotted #e35907;
  border-radius: 10px;
  background-color: #fff;
padding: 0 10px;
font-size: 12px;
z-index: 1;

}

.favorite{
  position: absolute;
  left: 20px;
  top: 20px
}

.zoom-edit{
  position: absolute;
  right: 20px;
  top: 20px
}

.image-card{
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
    overflow-y:scroll;
    overflow-x:hidden;
  width: 100vw;
  height: 100vh;
}

.upload-small{
  position: fixed;
  bottom: 20px;
  right: 20px;
}