@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');


.home-content {
  background: #d9dbd8;
}

.hero-cap{
  font-family: 'Protest Strike', sans-serif;
  font-size: 50px;

}


.gallery{
  border: 10px ridge;
  border-radius: 20px;
}


.gallery-text{
font-family: 'Rubik Scribble', system-ui;
}

.sign-in{
  border: 2px solid #34a853;
  border-radius: 20px;
}

.button-text{
  font-family: 'Protest Strike', sans-serif;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}